        /* DELETING DEFAULT MARGINS  */
        * {
            margin: 0;
            padding: 0;
        }

        /* DEFENING ALL COLOR AT A TIME*/
        :root {
            --background-color: #163031;
            --item-background-color: #243C3D;
            --btn-color-primay: #E0FF79;
            --btn-color-accent: #76FDD0;
            --hover-text-color: #6BFDD9;
            --white: #F8F8F8;
            --black: #163031;

        }

        /*STYLING FOR CURSOR GLOW*/
        .cursor-glow {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            pointer-events: none;
            background: radial-gradient(circle, #E0FF79, #76FDD0);
            filter: blur(15px);
            transform: translate(-50%, -50%);
            transition: width 0.2s ease, height 0.2s ease;
        }

        /* STYLING TO BODY*/
        body {
            background-color: var(--background-color);
            font-family: Sans-serif;
            color: var(--white);
        }

        /* PORTFOLIO STYLING*/
        h1 {
            margin-left: 7vw;
            margin-top: 5vh;
            display: inline-block;
            animation: visibiity 0.7s linear 1 forwards;
        }

        /*PORTFOLIO SPAN I.E FOIO STYLING*/
        h1 span {

            color: #E0FF79;
            text-shadow: 0 0 10px #E0FF79,
                0 0 20px #E0FF79,
                0 0 40px #E0FF79,
                0 0 80px #E0FF79;

        }

        /*LI ITEMS BACKGROUND STYLE*/
        .items {
            background-color: var(--item-background-color);
            height: 8vh;
            width: 40vw;
            border-radius: 50px;
            position: relative;
            bottom: 6vh;
            margin: 0 auto;
            cursor: pointer;
            animation: visibiity 0.7s linear 1 forwards;


        }

        /*UL STYLING*/
        nav ul {
            text-align: center;


        }

        /* LI STYLING*/
        nav ul li {
            display: inline;
            margin: 0 20px;
            position: relative;
            top: 3vh;
            transition: 0.3s;
            font-size: 18px;
            font-weight: 550;
            line-height: 1em;
        }

        /*LI HOVER EFFECT STYLING*/
        nav ul li:hover {
            transition: 0.3s;
            color: var(--btn-color-accent);

        }

        /* BUTTON STYLING*/
        .btn button {
            height: 7vh;
            border: none;
            width: 10vw;
            border-radius: 50px;
            color: var(--black);
            font-size: 16px;
            font-weight: 600;
            position: relative;
            bottom: 13.5vh;
            left: 80%;
            animation: visibiity 0.7s linear 1 forwards;
            background: linear-gradient(90deg, #E0FF79 0%, #76FDD0 50%);


        }

        /* ANIMATIONS USED FOR PORTFOLIO ITEMS AND BUTTONS*/
        @keyframes visibiity {
            from {
                opacity: 0;
                transform: translateY(5px);
            }

            to {
                opacity: 1;
                transform: translateY(-5px);
            }
        }

        /*INTRO STYLING  */
        .intro span {
            font-weight: 500;
            line-height: 1.2em;
            font-size: 4rem;
            margin-bottom: 1vh;
            background: linear-gradient(90deg, #E0FF79 0%, #76FDD0 50%, #E0FF79 100%);
            background-size: 200% 100%;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            display: inline-block;
            animation: slideGradient 4s linear infinite;
            animation: hidden 0.7s linear 1 forwards;
        }

        /*ANIMATIONS USED FOR INTRO SPAN */
        @keyframes slideGradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        /*MAIN INTRO DIV*/
        .intro {
            margin-left: 7vw;
            margin-top: 20vh;
            color: var(--white);
        }

        /*INTRO H2 STYLING*/
        .intro h2 {
            position: relative;
            top: 1vh;
            font-weight: 500;
            line-height: 1.2em;
            font-size: 4rem;
            display: inline-block;
            color: var(--white);
            animation: hidden 0.7s linear 1 forwards;
        }

        /*INTRO P STYLING*/
        .intro p {
            font-size: 20px;
            margin-top: 1vh;
            color: var(--white);
            animation: hidden1 0.7s linear 1 forwards;

        }

        /*ANIMATION USED FOR ALL INTROS*/
        @keyframes hidden {
            from {
                opacity: 0;
                transform: translateY(50px);
            }

            to {
                opacity: 1;
                transform: translateY(-50px);
            }
        }

        /*ANIMATION USED FOR ALL INTROS*/
        @keyframes hidden1 {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(-20px);
            }
        }

        /*SKILL CONTAINER LOOP STYLING*/
        .skills-container {
            white-space: nowrap;
            margin-top: 20vh;
            overflow: hidden;
            width: 98%;
            height: 6vh;

            padding: 10px;
            border-radius: 10px;
            background: linear-gradient(90deg, #E0FF79 0%, #76FDD0 50%, #E0FF79 100%);

        }

        .skills-content {
            display: inline-block;

            padding-left: 100%;

            animation: moveSkills 60s linear infinite;
        }

        .skill {
            display: inline-block;
            margin: 0 30px;
            font-size: 1.5rem;
            font-weight: bold;
            position: relative;
            top: 1vh;
            color: var(--black);
        }

        .skills-container img {
            position: relative;
            top: 1.5vh;
            height: 30px;
            width: 30px;
        }

        /*ANIMATIONS USED FOR SKILL COBTAINER */
        @keyframes moveSkills {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-100%);
            }
        }