* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #163031;
    --item-background-color: #243C3D;
    --btn-color-primay: #E0FF79;
    --btn-color-accent: #76FDD0;
    --hover-text-color: #6BFDD9;
    --white: #F8F8F8;
    --black: #163031;
}